[defaults]
inventory = inventories/deploy.ini # путь к файлу инвентаризации (список хостов)
roles_path = ./roles  # путь к ролям
forks = 50  # Количество параллельных потоков
remote_user = root  # Пользователь для удалённого подключения
host_key_checking = False  # Отключение проверки ключей хостов