API_URL='https://back.crm.acsolutions.ai/api/v2'
HASH='{{ raptor_api_key }}'
AUDIO_PATH=''
REMOTE_AUDIO_PATH='https://back.crm.acsolutions.ai/storage'
SCRIPT_PATH=''
STORAGE='../storage'
SESSION_PATH='../sessions/raptor_sessions_{{ inventory_hostname.split('.')[0] }}'
RASA_URL='http://nlu-prod.acsolutions.ai:5005'
LINK_STORAGE_HOST='http://162.55.211.85:8081'